@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    background: #f5f5f5;
    color: rgba(0, 0, 0, 0.9) !important;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc!important;
}

::-webkit-scrollbar-track {
  background: #fff!important;
}

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
    color: #ff5252 !important;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
  color: #fff !important;
}

.slider-home {
  overflow: inherit !important;
}

.swiper-button-prev, 
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev:after, 
.swiper-button-next:after{
  font-size: 20px !important;
  color: #000;
}

.category-slider-home, .slider-home {
  overflow: inherit !important;
}

.category-slider-home .item-category-slider {
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.category-slider-home .item-category-slider img {
  transition: transform 0.2s ease-in-out;
}

.category-slider-home .item-category-slider:hover img {
  transform: scale(1.1);
}

.home-category-slider-container .swiper-button-prev, 
.home-category-slider-container .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.home-category-slider-container .swiper-button-prev {
  left: -10px !important;
}

.home-category-slider-container .swiper-button-next {
  right: -10px !important;
}

.home-category-slider-container .swiper-button-prev:after,
.home-category-slider-container .swiper-button-next:after {
  font-size: 15px !important;
}

.home-slider-container .swiper-button-prev:hover, 
.home-slider-container .swiper-button-next:hover,
.home-category-slider-container .swiper-button-prev:hover, 
.home-category-slider-container .swiper-button-next:hover {
  background: #ff5252 !important;
}

.home-slider-container .swiper-button-prev:hover:after,
.home-slider-container .swiper-button-next:hover:after,
.home-category-slider-container .swiper-button-prev:hover:after,
.home-category-slider-container .swiper-button-next:hover:after {
  color: #fff !important;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #ff5252 !important;
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}

.products-slider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.swiper-pagination-bullet-active {
  background: #ff5252 !important;
}

/* Button */
.btn-org {
  background-color: #ff5252 !important;
  color: #fff !important;
  border: 1px solid #ff5252 !important;
}

.btn-org:hover {
  background-color: #000 !important;
  color: #fff;
  border: 1px solid #000 !important;
}

.btn-border {
  background-color: transparent !important;
  color: #ff5252 !important;
  border: 1px solid #ff5252 !important;
}

.btn-border:hover {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
}
/* End Button */

.swiper-fade .swiper-slide-active .info {
  transform: translateX(0);
  opacity: 1;
}

.MuiCheckbox-root {
  padding: 7px !important;
}

.MuiCheckbox-root.Mui-checked {
  color: #ff5252 !important;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.item-view-actions button.active svg{
  color: #ff5252 !important;
}

.Mui-selected.MuiPaginationItem-page {
  background: #ff5252 !important;
  color: #fff !important;
}

.zoom-product-slider .swiper-slide {
  height: auto !important;
}

.zoom-product-slider .swiper-button-prev {
  top: 20px !important;
  left: 0 !important; 
  width: 100% !important;
  height: 20px !important;
  border-radius: 0px !important;
}

.zoom-product-slider .swiper-button-next {
  bottom: 0 !important;
  right: inherit !important; 
  top: inherit !important; 
  width: 100% !important;
  height: 20px !important;
  border-radius: 0px !important;
}

.zoom-product-slider .swiper-button-prev:after,
.zoom-product-slider .swiper-button-next:after {
  transform: rotate(90deg);
}

.product-content-container .actions button {
  min-width: 40px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
  padding: 1.5px 10px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.css-kw13he-MuiDialogContent-root {
  padding: 0 !important;
}

.cart-panel .MuiPaper-root {
  width: 400px;
  overflow: hidden;
}

#flavor-menu .MuiButtonBase-root {
  font-size: 12px !important;
  font-weight: 500 !important;
}

.otp-box input {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 4px;
}

.otp-box input:focus {
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
}

.otp-page .container {
  height: 90vh;
  display: flex;
}

.my-account-tabs li a {
  position: relative;
  display: block;
}

.my-account-tabs li a:before {
    content: "";
    background: #ff5252 !important;
    width: 3px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.my-account-tabs li a.active::before {
  height: 100%;
  opacity: 1;
  top: 0;
}

.my-account-tabs li a.active button svg {
  color: #ff5252 !important;
  opacity: 1 !important;
}

button .MuiCircularProgress-root {
  width: 30px !important;
  height: 30px !important; 
}

header {
  box-shadow: 0px 1px 5px #0000001a;
}

.MuiCircularProgress-root {
  @apply !text-[#ff5252]
}