@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    background: #f5f5f5;
    color: rgba(0, 0, 0, 0.9) !important;
    overflow-x: hidden;
}

.container {
  width: 90%;
  margin: auto;
}

.link:hover {
    color: #ff5252 !important;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
  color: #fff !important;
}

.slider-home {
  overflow: inherit !important;
}

.swiper-button-prev, 
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev:after, 
.swiper-button-next:after{
  font-size: 20px !important;
  color: #000;
}

.category-slider-home {
  overflow: inherit !important;
}

.category-slider-home .item-category-slider {
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.category-slider-home .item-category-slider img {
  transition: transform 0.2s ease-in-out;
}

.category-slider-home .item-category-slider:hover img {
  transform: scale(1.1);
}
/* 
.home-category-slider-container .swiper-button-prev, 
.home-category-slider-container .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.home-category-slider-container .swiper-button-prev {
  left: -10px !important;
}

.home-category-slider-container .swiper-button-next {
  right: -10px !important;
}

.home-category-slider-container .swiper-button-prev:after,
.home-category-slider-container .swiper-button-next:after {
  font-size: 15px !important;
}

.home-category-slider-container .swiper-button-prev:hover, 
.home-category-slider-container .swiper-button-next:hover {
  background: #ff5252 !important;
}

.home-category-slider-container .swiper-button-prev:hover:after,
.home-category-slider-container .swiper-button-next:hover:after {
  color: #fff !important;
} */