@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    background: #f5f5f5;
    color: rgba(0, 0, 0, 0.9) !important;
}

.container {
  width: 90%;
  margin: auto;
}

.link:hover {
    color: #ff5252 !important;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
  color: #fff !important;
}